.et-page
  .row-fluid
    .hero-unit{class: "#{sample.source}"}
      = hidden_field_tag "quote#{number}", sample.id
      - if sample
        %h1 #{sample.description}
      - else
        %h1 :( Nothing to say.
      .review
        %i.icon-thumbs-up.et-rotate{"et-in" => "rotateCarouselRightIn", "et-out" => "rotateCarouselRightOut ontop"} 
        %i.icon-thumbs-down.et-rotate{"et-in" => "rotateCarouselLeftIn", "et-out" => "rotateCarouselLeftOut ontop"} 
    .row-fluid
      .span12
        .add
          - if sample
            = link_to new_quote_url(source: sample.source) do
              %i.icon-plus
              Add your own
          - elsif params[:source]
            = link_to new_quote_url(source: params[:source]) do
              %i.icon-plus
              Add your own
          - else
            = link_to new_quote_url(source: "flattery") do
              %i.icon-plus
              Add your own
