= javascript_include_tag 'quotes'
.container.home
  .hero-unit
    - if @sample
      %h1 #{@sample.description}
    - else
      %h1 :( Nothing to say.
    .review
      %i.icon-thumbs-up
      %i.icon-thumbs-down
  .row-fluid
    .span12
      .add
        - if @sample
          = link_to new_quote_url(source: @sample.source) do
            %i.icon-plus
              Add your own
        - elsif params[:source]
          = link_to new_quote_url(source: params[:source]) do
            %i.icon-plus
              Add your own
        - else
          = link_to new_quote_url(source: "flattery") do
            %i.icon-plus
              Add your own
        
       
  %hr