= javascript_include_tag 'welcome'
.site-navigation
  %ul.nav.navbar-inverted
    %li.type.active 
      = link_to "Flattery", root_url
    %li.type 
      = link_to "Insult", root_url
    %li.type
      = link_to "FlatInsult", root_url 
    %li
      = link_to "+1 Add your own", new_quote_path
  
  
